.header__nav {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 77.5px;
    gap: 30px;
    padding-left: 3%;
    padding-right: 3%;
    justify-content: space-between;
}

.header__nav-left {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin-right: -300px;
}

.header__logo {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    align-self: center;
}

.header__nav-right {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    gap: 1em;
}


.container-yellow {
    display: flex;
    height: 100vh;
    flex-shrink: 0;
    margin-left: 32px;
    margin-right: 32px;
    background: #FFFFEF;
    justify-content: flex-end;
    background-image: url(../assets/apples_background.png) / cover no-repeat;
}

.header__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 64px;
    margin-bottom: 64px;
}

.text-1 {
    color: #56593D;
    text-align: right;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px;
    /* 120% */
    letter-spacing: 1.8px;
}

.text-2 {
    color: #56593D;
    text-align: right;
    font-family: Roboto;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 60.48px;
    /* 134.4% */
}

.header__button {
    width: 154px;
    height: 56px;
    flex-shrink: 0;
    background: #56593D;
    color: #FFFFEF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.365px;
    /* 139.781% */
    letter-spacing: 1.575px;
    text-transform: uppercase;
    border-color: #56593D;
}

.text-3 {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    color: #56593D;
    text-align: center;
    font-family: Roboto;
    font-size: 57px;
    font-style: normal;
    font-weight: 400;
    line-height: 81px;
    /* 142.105% */
    margin-top: 94px;
}

.header_links-below {
    display: flex;
    flex-direction: row;
    gap: 5em;
    justify-content: center;
    margin-bottom: 94px;
}

.link-shop {
    width: 103px;
    height: 22px;
    color: #56593D;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px;
    letter-spacing: 1.6px;
    text-decoration: none;
    border-bottom: 2px solid #56593D;
    padding-bottom: 5px;
    padding-top: 13px;
}

.link-shop-2 {
    width: 135px;
    height: 22px;
    color: #56593D;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px;
    letter-spacing: 1.6px;
    text-decoration: none;
    border-bottom: 2px solid #56593D;
    padding-bottom: 5px;
    padding-top: 13px;
}

a {
    text-decoration: none;
    color: #56593D;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px;
    /* 160% */
    letter-spacing: 1.6px;
}

.container-yellow-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110vh;
    flex-shrink: 0;
    margin-left: 32px;
    margin-right: 32px;
    background: #FFFFEF;
    margin-bottom: 20px;
}

.cards__title {
    color: #56593D;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32.4px;
    /* 135% */
    margin-top: 3%;
    margin-bottom: 4%;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #56593D;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px;
    /* 135% */
}

.container-yellow-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    flex-shrink: 0;
    margin-left: 32px;
    margin-right: 32px;
    background: #FFFFEF;
}

.container__title {
    color: #56593D;
    text-align: center;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px;
    /* 127.059% */
    letter-spacing: 1.8px;
    margin-top: 3%;
}

.container__text {
    width: 1093px;
    color: #56593D;
    text-align: center;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 60.48px;
    /* 120.96% */
}

/*блок 4*/
.design {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85em;
    height: 46.625em;
    margin: 32px;
    background: #FFFFEF;
}

.design_block {
    display: inline-flex;
    width: 81em;
    height: 38.625em;
    padding: 64px 32px 64px 32px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 31.656px;
}

.shelves {
    display: flex;
    width: 46.4375em;
    height: 38.625em;
    background: url(shelves_main.png), lightgray 50% / cover no-repeat;
}

.design_block-text {
    display: flex;
    width: 521.313px;
    height: 391px;
    padding: 62.844px 86.969px 0px 87.344px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
}

.design_block-text-title {
    display: flex;
    width: 219px;
    color: #56593D;
    text-align: center;
    font-family: "Roboto";
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: 38.88px;
    /* 134.069% */
}

.linee {
    display: flex;
    width: 40px;
    height: 1px;
    background: #717353;
}

.design_block-text-texts {
    display: flex;
    width: 347px;
    color: #56593D;
    text-align: center;
    font-family: "Jost";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32.4px;
    /* 162% */
}

/*блок 5*/
.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85em;
    height: 63.375em;
    margin: 32px;
    background: #FFFFEF;
}

.table_block {
    display: inline-flex;
    width: 81em;
    height: 55.375em;
    padding: 64px 32px 64px 32px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 31.656px;

}

.table_block-text {
    display: flex;
    width: 521.313px;
    height: 391px;
    padding: 62.594px 88.344px 0px 88.969px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
}

.table_block-text-title {
    display: flex;
    width: 277px;
    color: #56593D;
    text-align: center;
    font-family: Roboto;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: 38.88px;
    /* 134.069% */
}

.line {
    display: flex;
    width: 40px;
    height: 1px;
    background: #717353;
}

.table_block-text-texts {
    display: flex;
    width: 277px;
    color: #56593D;
    text-align: center;
    font-family: "Jost";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32.4px;
    /* 162% */
}

.table_dishes {
    display: flex;
    width: 743px;
    height: 885px;
    background: url(table_dishes_main.png), lightgray 50% / cover no-repeat;
}

/*блок 6*/
.sign {
    display: flex;
    flex-direction: column;
    width: 83em;
    height: 17.4375em;
    margin: 48px;
    background: #FFFFEF;

}

.sign_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 79em;
    height: 13.44925em;
    padding: 32px 432px 32px 32px;
}

.sign_block-title {
    display: flex;
    width: 319px;
    color: #56593D;
    text-align: center;
    font-family: "Roboto";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 38.88px;
    /* 138.857% */
}

.sign_block-text {
    display: flex;
    width: 410px;
    color: #56593D;
    text-align: center;
    font-family: "Roboto";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
    /* 169.412% */
}

button[name="subscribe"] {
    width: 144px;
    height: 22px;
    padding: 10px 25px;
    background: #56593D;
    cursor: pointer;
    text-transform: uppercase;
    color: #FFFFEF;
    text-align: center;
    font-family: "Roboto";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.72px;
    /* 151.467% */
    letter-spacing: 1.6px;

}

button[name="subscribe"]:hover {
    background: #56593D;
}


/*блок 7*/
.moments {
    display: flex;
    width: 100%;
    height: 520px;
    margin-top: 40px;
    margin-left: 40px;
}

.moments_block {
    display: flex;
    width: 90%;
    height: 392px;
    flex-direction: column;
    padding: 30px 70px;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background: #FFFFEF;
}

.moments_title {
    display: flex;
    color: #56593D;
    text-align: center;
    font-family: "Roboto";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 32.4px;
    /* 129.6% */
}

.cards-fruit {
    display: flex;
    height: 328px;
    padding: 7.797px 0px 0.203px 8px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
}

.card-one {
    display: flex;
    width: 320px;
    height: 320px;
    background: url(card_1_below.png), lightgray 50% / cover no-repeat;
}